@font-face {
    font-family: "Bahianita";
    src: url(./fonts/Bahianita/Bahianita-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Cherry Bomb One */
@font-face {
    font-family: "Cherry Bomb One";
    src: url(./fonts/Cherry_Bomb_One/CherryBombOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Zain - Regular */
@font-face {
    font-family: "Zain";
    src: url(./fonts/Zain/Zain-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Zain - Italic */
@font-face {
    font-family: "Zain";
    src: url(./fonts/Zain/Zain-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Zain - Bold */
@font-face {
    font-family: "Zain";
    src: url(./fonts/Zain/Zain-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Zain - Light */
@font-face {
    font-family: "Zain";
    src: url(./fonts/Zain/Zain-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Zain - Light Italic */
@font-face {
    font-family: "Zain";
    src: url(./fonts/Zain/Zain-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Zain - ExtraBold */
@font-face {
    font-family: "Zain";
    src: url(./fonts/Zain/Zain-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Zain - ExtraLight */
@font-face {
    font-family: "Zain";
    src: url(./fonts/Zain/Zain-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Zain - Black */
@font-face {
    font-family: "Zain";
    src: url(./fonts/Zain/Zain-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}
